{% setcontent items = 'sidebar-items' %}
{% for item in items %}
    <div class="sidebar-item">
        <h3>{{ item.title }}</h3>
        {{ item.body }}
    </div>
{% endfor %}
<div class="sidebar-item countdown">
    <h3>Countdown</h3>

    <h4>Lincoln:</h4>
    <p id="lincoln-countdown" class="clock">June 15, 2016</p>
    
    <h4>Germany:</h4>
    <p id="germany-countdown" class="clock">August 9, 2016</p>

</div>

<div class="social-media row">
    <div class="col-xs-4">
        <a href="https://www.facebook.com/pages/UWashington-Formula-SAE/215551825139322">
            <span class="socicon-facebook facebook"></span>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="https://twitter.com/uwfsae">
            <span class="socicon-twitter twitter"></span>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="https://www.youtube.com/user/UWashingtonFSAE">
            <span class="socicon-youtube youtube"></span>
        </a>
    </div>
</div>
