{% extends "_skeleton.twig" %}

{% block content %}
    {{ record.body }}

    <div class="facebook-posts">
        {# See app/config/config.yml for Facebook page ID. The access token should
           only ever be contained within config_local.yml + should not be 
           version-controlled. #}
        {{ addFacebookPosts(
            config.get('general/facebook/page_id'), 
            config.get('general/facebook/access_token'), 
            config.get('general/facebook/num_posts')) }}
    </div>

    <p class="facebook-rest"><a href="https://www.facebook.com/pages/UWashington-Formula-SAE/215551825139322">See all posts</a></p>
{% endblock %}
