{% extends "_skeleton.twig" %}

{% block content %}
    {{ record.body }}

    <div class="facebook-posts">
        {{ addFacebookPosts('215551825139322', config.get('general/facebook_access_token'), 5) }}
    </div>

    <p class="facebook-rest"><a href="https://www.facebook.com/pages/UWashington-Formula-SAE/215551825139322">See all posts</a></p>
{% endblock %}
