/** GENERAL LAYOUT **/

#wrapper {
}

/** GENERAL TYPOGRAPHY **/

h1 {
	font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
	font-size: 4.3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.2em;
}

h2 {
	font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
	font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.2em;
}


/** HEADER AND NAVIGATION **/

#header {
    z-index: 5;
    padding: .5em 0;
    margin-bottom: 2em;
    background-color: #222;
    background: repeating-linear-gradient(
        45deg,
        #222,
        #222 10px,
        #262626 10px,
        #262626 12px
    );
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}

#header .logo img {
    width: 12em;
    height: auto;
}

.nav-custom {
    position: relative;
    
    margin-top: 1.5em;

    text-align: right;
}

.nav-custom > li {
    position: relative;
    float: left;
}

.nav-custom > li > a {
    display: block;
    color: #fff;

    transition: color 0.2s, transform 0.2s;
    font-size: 1.1em;
}

.nav-custom > li > a:after {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;

    height: 3px;
    width: 0;

    margin: 0 auto;
    content: "";
    background-color: #b7a57a;

    transition: width 0.2s, left 0.2s, transform 0.2s;
}

.nav-custom > li:hover,
.nav-custom > li:active,
.nav-custom > li:focus {
    background-color: inherit;
}

.nav-custom > li:hover > a,
.nav-custom > li:active > a,
.nav-custom > li:focus > a {
    color: #b7a57a;
    background-color: inherit;
}

.nav-custom > li:hover > a:after,
.nav-custom > li:active > a:after,
.nav-custom > li:focus > a:after {
    width: 100%;
    left: 0;
}

.nav-custom .dropdown {
    z-index: 10;
    position: absolute;
    overflow: hidden;
    left: 50%;

    max-height: 0em;
    width: 12em;

    padding: 0;
    margin: 0;
    margin-left: -6em;

    background-color: white;
    list-style-type: none;
    text-align: center;

    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);

    transition: max-height 0.2s, color 0.2s, transform 0.2s;
}

.nav-custom .dropdown a {
    display: block;
    overflow: hidden;
    padding: 0.5em;

    color: #000;
}

.nav-custom > li:hover .dropdown,
.nav-custom > li .dropdown:hover {
    max-height: 10em;
}

.nav-custom a:hover {
    background-color: #b7a57a;
    text-decoration: none;
}


/** PRIMARY CONTENT **/

.primary-image {
    margin: 3em 0;
}

.primary-image .container {
    position: relative;
}

.primary-image .showcase {
    position: absolute;
    top: -1em;
    margin-left: -2.3em;
    -webkit-transform: skew(45deg);
            transform: skew(45deg);

    padding:1em 3em;
    border-radius: .5em;

    background-color: #000;
    opacity: 0.9;
    color: white;
}

.primary-image h1 {
    padding: 0;
    margin: 0;
    text-shadow:
        -1px -1px 0 #b7a57a,
         1px -1px 0 #b7a57a,
        -1px  1px 0 #b7a57a,
         1px  1px 0 #b7a57a;
}

.primary-image .showcase > * {
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg);
}

.primary-image img {
    display: block;

    min-width: 100%;
    min-height: 20em;
    margin: 0 auto;
}

/** BLOG POSTS **/

.article .article-head {
    margin-bottom: 1em;
    border-bottom: 1px solid #d9d9d9;
    background-color: #4b2e83;
    padding: 1em;

    background: repeating-linear-gradient(
        45deg,
        #4b2e83,
        #4b2e83 10px,
        #503387 10px,
        #503387 12px
    );
}

.article h2 {
    margin: 0;
    padding: 0;
}

.article h2 a {
    color: #fff;
}

.article .timestamp {
    font-size: 1.2em;
    color: #fff;
}

.article-content,
.record-content {
    margin-bottom: 5em;
}

