/** SIDE BAR **/

@media (min-width: 992px) {
    /* On smaller screens, the sidebar flows into the footer + shouldn't have
     * that extra padding
     */
    #sidebar {
        padding-left: 2em;
    }
}

.sidebar-item {
    margin-bottom: 1em;
    padding: 1em;

    color: white;

    /* Add a subtle, striped background for flavor */
    background-color: #222;
    background: repeating-linear-gradient(
        -45deg,
        #222,
        #222 10px,
        #262626 10px,
        #262626 12px
    );

    /* Slight shadow for depth */
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}

.sidebar-item h3 {
    margin-top: 0;
}

.social-media {
    margin-bottom: 2em;
    padding: 1em;
}

.countdown {

}

.social-media div {
    position: relative;
    padding: .5em;
    height: auto;
}

.social-media a {
    position: relative;
    display: block;
    text-align: center;
}

.social-media span {
    display: block;
    font-size: 3em;
    color: white;
    padding: .4em 0 .1em;

    background-color: #222;
    transition: background-color 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;
}

.social-media a:hover,
.social-media a:active,
.social-media a:focus {
    text-decoration: none;
    color: white;
}

.social-media a:hover span,
.social-media a:active span,
.social-media a:focus span {
    /* Slight shadow for depth */
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}

.social-media a:hover .facebook,
.social-media a:active .facebook,
.social-media a:focus .facebook {
    background-color: #3e5b98;
}

.social-media a:hover .twitter,
.social-media a:active .twitter,
.social-media a:focus .twitter {
    background-color: #4da7d3;
}

.social-media a:hover .youtube,
.social-media a:active .youtube,
.social-media a:focus .youtube {
    background-color: #e02a20;
}

.social-media a:hover .instagram,
.social-media a:active .instagram,
.social-media a:focus .instagram {
    background-color: #517fa4;
}
